.scrolling-wrapper {
  width: 60%;
  border:5px solid #364547;

  -webkit-box-shadow:0px 0px 42px 2px #9f9429 ;
  -moz-box-shadow:0px 0px 42px 2px #9f9429 ;
  box-shadow:0px 0px 42px 2px #9f9429 ;

  border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;

background:-webkit-linear-gradient(90deg, rgb(189, 195, 47) 0%, rgb(98, 97, 84) 80%);
background:-o-linear-gradient(90deg, rgb(189, 195, 47) 0%, rgb(98, 97, 84) 80%);
background:-moz-linear-gradient(90deg, rgb(189, 195, 47) 0%, rgb(98, 97, 84) 80%);
background:linear-gradient(90deg, rgb(189, 195, 47) 0%, rgb(98, 97, 84) 80%);

color: #ffffff;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;



  // .card {
  //   display: inline-block;
  //   transform: rotate(-90deg);
  //   background-color: rgb(58, 58, 50);
  //   padding: 0.5rem;
  //   margin-left: 10px;
  //   margin-right: 10px;
  //   /* Legacy vendor prefixes that you probably don't need... */

  //   /* Safari */
  //   -webkit-transform: rotate(-90deg);

  //   /* Firefox */
  //   -moz-transform: rotate(-90deg);

  //   /* IE */
  //   -ms-transform: rotate(-90deg);

  //   /* Opera */
  //   -o-transform: rotate(-90deg);

  //   border-radius:10px;
  //   -moz-border-radius:10px;
  //   -webkit-border-radius:10px;

  //   h2:hover{
  //     margin: 0.5rem;
  //     background-color: rgb(63, 63, 60);
  //     font-size: 1rem;
  //     border:5px solid #364547;
  //     -webkit-box-shadow:0px 0px 42px 2px #cebd24 ;
  //     -moz-box-shadow:0px 0px 42px 2px #cebd24 ;
  //     box-shadow:0px 0px 42px 2px #cebd24 ;
  //   }
  //   h2:active{
  //     margin: 0.5rem;
  //     background-color: rgb(204, 172, 31);
  //     border:5px solid #364547;
  //     -webkit-box-shadow:0px 0px 42px 2px #cebd24  ;
  //     -moz-box-shadow:0px 0px 42px 2px #cebd24  ;
  //     box-shadow:0px 0px 42px 2px #cebd24  ;
  //   }
  // }


.overlay {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  right: 30%;
  left: 0;
  margin: 0px auto;
  background: rgba(247, 246, 245, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;


  .card {
    display: inline-block;
    transform: rotate(-90deg);
    background-color: rgb(58, 58, 50);
    padding: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;

    h2:hover{
      margin: 0.5rem;
      background-color: rgb(63, 63, 60);
      font-size: 1rem;
      border:5px solid #364547;
      -webkit-box-shadow:0px 0px 42px 2px #cebd24 ;
      -moz-box-shadow:0px 0px 42px 2px #cebd24 ;
      box-shadow:0px 0px 42px 2px #cebd24 ;
    }
    h2:active{
      margin: 0.5rem;
      background-color: rgb(204, 172, 31);
      border:5px solid #364547;
      -webkit-box-shadow:0px 0px 42px 2px #cebd24  ;
      -moz-box-shadow:0px 0px 42px 2px #cebd24  ;
      box-shadow:0px 0px 42px 2px #cebd24  ;
    }
  }
}

}
