<div class="scrolling-wrapper">
  <div class="card" *ngFor="let item of timeIntervalList; let i= index;"><h2>{{item}}</h2></div>
  <!-- <div class="card"><h2>07:30</h2></div>
  <div class="card"><h2>08:00</h2></div>
  <div class="card"><h2>08:30</h2></div>
  <div class="card"><h2>09:00</h2></div>
  <div class="card"><h2>09:30</h2></div>
  <div class="card"><h2>10:00</h2></div>
  <div class="card"><h2>10:30</h2></div>
  <div class="card"><h2>11:00</h2></div>
  <div class="card"><h2>11:30</h2></div>
  <div class="card"><h2>12:00</h2></div>
  <div class="card"><h2>12:30</h2></div>
  <div class="card"><h2>13:00</h2></div>
  <div class="card"><h2>13:30</h2></div>
  <div class="card"><h2>14:00</h2></div>
  <div class="card"><h2>14:30</h2></div>
  <div class="card"><h2>15:00</h2></div>
  <div class="card"><h2>15:30</h2></div>
  <div class="card"><h2>16:00</h2></div>
  <div class="card"><h2>16:30</h2></div>
  <div class="card"><h2>17:00</h2></div>
  <div class="card"><h2>17:30</h2></div>
  <div class="card"><h2>18:00</h2></div>
  <div class="card"><h2>18:30</h2></div>
  <div class="card"><h2>19:00</h2></div>
  <div class="card"><h2>19:30</h2></div>
  <div class="card"><h2>20:00</h2></div> -->
</div>
